<% form_tag(help_issues_path, :class => "formtastic") do %>
  <fieldset class="inputs">
    <ol>
      <% if !logged_in? -%>
        <li class="string">
          <%= label_tag "issue[user_name]", "Name" %>
          <%= text_field_tag "issue[user_name]" %>
        </li>
        <li class="string">
          <%= label_tag "issue[user_email]", "Email" %>
          <%= text_field_tag "issue[user_email]" %>
        </li>
      <% end -%>
      <li class="select">
        <%= label_tag "issue[category_id]", "Category" %>
        <%= select_tag "issue[category_id]", 
                       options_from_collection_for_select(Category.find(:all), :id, :name),
                       :prompt => "Please select" %>
      </li>
      <li class="string">
        <%= label_tag "issue[subject]", "Subject" %>
        <%= text_field_tag "issue[subject]" %>
      </li>
      <li class="text">
        <%= text_area_tag "issue[body]" %>
      </li>
      <% if logged_in? -%>
        <li class="boolean">
          <label>
            <%= check_box_tag "issue[private]" %>
            Mark this issue as private. Only allow support representatives to see it.
          </label>
        </li>
      <% end -%>
    </ol>
  </fieldset>
  
  <%= recaptcha_tags :public_key => Insight.configuration.recaptcha_public_key %>
  
  <fieldset class="buttons">
    <%= submit_tag("Post Issue") %>
  </fieldset>
<% end %>