<div class="issue">
  <h1><strong>Subject</strong> : <%= @issue.subject %></h1>

  <div class="author">
    <p>Posted by <cite><%= @issue.contact.username %></cite> on <%= posted_on_long(@issue.updated_at) %></p>
  </div>

  <div class="body">
    <%= simple_format(@issue.body) %>
  </div>
</div>

<ol class="comments">
  <% @issue.comments.each_with_index do |comment, index| %>
    <li class="<%= cycle(:odd, :even) %>">
      <div class="who <% "staff" if comment.commenter_type == "User" %>">
        <p><strong><%= index + 1 %></strong> Posted by <cite><%= comment.commenter.username %></cite> on <%= posted_on_long(comment.updated_at) %></p>
      </div>
      <div class="gravatar">

      </div>
      <div class="said">
        <%= simple_format(comment.comment) %>
      </div>
    </li>
  <% end %>
</ol>

<% if logged_in? %>
  <h3>Reply to this discussion</h3>
  <%= render :partial => "help/comments/form" %>
<% else %>
  <h3>Login to reply to this discussion</h3>
<% end %>