<div class="issue">
  <h1><strong>Subject</strong> : <%= @issue.subject %></h1>

  <div class="author">
    <%= image_tag(@issue.gravatar_url(:size => 30)) %>
    <p>Posted by <cite><%= @issue.user_name %></cite> on <%= posted_on_long(@issue.updated_at) %></p>
  </div>

  <div class="body">
    <%= simple_format(@issue.body) %>
  </div>
</div>

<ol class="comments">
  <% @issue.comments.each_with_index do |comment, index| %>
    <li class="<%= cycle(:odd, :even) %>">
      <div class="who <% "staff" if comment.commenter_type == "User" %>">
        <p><strong><%= index + 1 %></strong> Posted by <cite><%= comment.user_name %></cite> on <%= posted_on_long(comment.updated_at) %></p>
      </div>
      <div class="gravatar">
        <%= image_tag(comment.gravatar_url(:size => 30)) %>
      </div>
      <div class="said">
        <%= simple_format(comment.comment) %>
      </div>
    </li>
  <% end %>
</ol>


<h3>Reply to this discussion</h3>
<%= render :partial => "help/comments/form" %>
