<!DOCTYPE>
<html>
  <head>
    <title>Help &amp; Support</title>
    <%= stylesheet_link_tag 'reset-fonts-grids', 'base-min', 'marketing', 'insight' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <ul>
          <li>
            <%= link_to("Support Home", help_path) %>
          </li>
          <li>
            <%= link_to("Browse Discussions", help_browse_path) %>
          </li>
          <li>
            <%= link_to("Knowledge Base", knowledge_path) %>
          </li>
          <li>
            <%= link_to("Return to App", "/") %>
          </li>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>