<ul>
  <li>
    <%= link_to("Home", help_path) %>
  </li>
  <li>
    <%= link_to("New Discussion", new_help_issue_path) %>
  </li>
  <li>
    <%= link_to("Browse Discussions", help_issues_path) %>
  </li>
  <li>
    <%= link_to("Knowledge Base", knowledge_path) %>
  </li>
</ul>

<%= yield %>